@model IEnumerable<BETOven.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="ticketsTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetAmount)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
                @Html.ActionLink("Details", "Details", new { id=item.TicketID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TicketID })
            </td>
        </tr>
    }

    </tbody>
</table>

@section Scripts{
    <script>
        $("#ticketsTable").DataTable();
    </script>
}