@model BETOven.Models.BiltenEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BiltenEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1Win)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1Win)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Draw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Draw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2Win)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2Win)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BiltenEntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
